/* css sheet */
h1 {
  color: blue;
}
.para1 {
  color: aqua;
}
.para2 {
  color: brown;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  /* 100-900 */
  text-decoration: line-through;
  /* under-line, over-line, line-through */
  text-decoration-style: double;
}
.para3 {
  color: darkkhaki;
}
