/* .box1 {
  background-color: rgb(67, 9, 67);
  color: aliceblue;
  background-image: url("assets/download\ \(1\).jpeg");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  opacity: 1;
  background-position: 12px;
  
} */

.box2 {
  color: blue;
}
